.download-app-section {
  background-color: #fff;
  padding: 60px 0;
}

.download-app-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-top: 20px;
  flex-wrap: wrap;
  background-color: #ecfefe;
  border-radius: 50px;
}

.app-details {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 16px;
}

.app-details h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #07969e;
  margin-bottom: 10px;
}

.app-details h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  color: #2d2d2d;
}

.app-details p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4a5050;
  margin-bottom: 16px;
}

.app-btn {
  display: flex;
  gap: 16px;
}

.app-btn img {
  cursor: pointer;
  width: 144px;
  height: 48px;
  transition: transform 0.3s ease;
}

.app-btn img:hover {
  transform: scale(1.05);
}

.app-image img {
  margin-right: 60px;
}

@media (max-width: 768px) {
  .download-app-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px 0 20px;
  }

  .app-details {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .app-details h2 {
    font-size: 28px;
  }

  .app-details img {
    width: 130px;
  }

  .download-app-content img {
    max-width: 300px;
  }

  .app-btn {
    justify-content: space-between;
  }
}
