.hero-section {
  padding: 30px 0px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}

.ball {
  position: absolute;
  border-radius: 50%;
  background-color: #a0dde2;
}

.big-ball {
  height: 56px;
  width: 56px;
}

.small-ball {
  height: 32px;
  width: 32px;
}

.ball-one {
  top: -8%;
  right: 48%;
}

.ball-two {
  bottom: -2%;
  right: 0%;
}
.ball-three {
  bottom: -5%;
  left: 13%;
}

.ball-four {
  top: 0%;
  left: 8.5%;
}

.ball-five {
  bottom: 0%;
  left: 70%;
}

.ball-six {
  display: none;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  max-width: 500px;
  position: relative;
}

.hero-text h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 60px;
  color: #07969e;
}

.hero-text h1 span {
  color: #40bbc3;
  vertical-align: super;
  margin: 2px;
  position: relative;
  top: -0.25rem;
}

.hero-text h4 {
  color: #4a5050;
}

.desktop-description {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 391px;
}

.mobile-description {
  display: none;
}

.cta-buttons {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.hero-image {
  position: relative;
}

.hero-image img {
  margin-right: 60px;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }

  .ball {
    opacity: 30%;
  }

  .big-ball {
    height: 36.1px;
    width: 36.1px;
  }

  .small-ball {
    height: 20.63px;
    width: 20.63px;
  }

  .ball-one {
    top: -5%;
    right: 13%;
  }

  .ball-two {
    bottom: 40%;
    right: 23%;
  }
  .ball-three {
    bottom: 7%;
    left: 12%;
  }

  .ball-four {
    top: 4%;
    left: 6%;
  }

  .ball-five {
    bottom: 30%;
    left: 2%;
  }

  .ball-six {
    display: block;
    bottom: 52%;
    left: 14%;
  }

  .cta-buttons {
    justify-content: center;
  }

  .hero-text h1 {
    font-size: 40px;
    line-height: 36px;
  }

  .desktop-description {
    display: none;
  }

  .mobile-description {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }
}
