header {
  width: 100%;
  background-color: #ffffff;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 60px;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 23px;
}

.nav-links li {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.home-link {
  font-weight: 700;
}

.nav-links a {
  color: #07969e;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #a3e7e9;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    transform: translateY(30%);
  }

  .nav-links-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.95);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    gap: 5px;
    padding: 5px;
  }

  .nav-links-container.open {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }

  .nav-links a {
    width: 90%;
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }

  .logo {
    padding-left: 0px;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10000;
  }
}
