.services-section {
  padding: 50px 0;
}
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-text {
  flex: 1;
  max-width: 432px;
}

.service-text h2 {
  font-weight: 600;
  color: #2d2d2d;
  margin-bottom: 10px;
}

.desktop-title {
  display: block;
  font-size: 32px;
  line-height: 38.4px;
}

.mobile-title {
  display: none;
}

.service-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4a5050;
}

.desktop-description {
  display: block;
  margin-bottom: 24px;
}

.mobile-description {
  display: none;
}

.service-link {
  color: #07969e;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.service-link span {
  margin-left: 16px;
}

.service-image {
  flex: 1;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.service-image img {
  max-width: 100%;
  height: auto;
}

.desktop-image {
  display: block;
}

.mobile-image {
  display: none;
}

.service-row:nth-child(even) {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .services-section {
    padding: 0;
  }

  .service-row {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .service-row:nth-child(4) {
    display: none;
  }

  .desktop-title {
    display: none;
  }

  .mobile-title {
    display: block;
    font-size: 20px;
    line-height: 18px;
  }

  .desktop-description {
    display: none;
  }

  .mobile-description {
    display: block;
    width: unset;
    text-align: center;
  }

  .service-link {
    display: none;
  }

  .service-image {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
  }

  .service-text {
    max-width: 100%;
    padding: 0 20px;
  }
}
