.testimonial-section {
  padding: 40px 0;
  background-color: #fff;
  text-align: center;
  margin-top: 60px;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}

.testimonial-header {
  max-width: 547px;
  text-align: center;
  margin: 0 auto;
}

.testimonial-header h2 {
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #40bbc3;
}

.testimonial-header p {
  /* font-family: "DM Sans"; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #4a5050;
  max-width: 502px;
}

.desktop-title {
  display: block;
  font-size: 40px;
  line-height: 48px;
}

.mobile-title {
  display: none;
}
.desktop-subtitle {
  display: block;
  margin-bottom: 30px;
}

.mobile-subtitle {
  display: none;
}

.testimonial-list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  gap: 24px;
  transition: transform 2s ease-in-out;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  gap: 20px;
  width: 409px;
  background: #ffffff;
  border: 1px solid #ecfefe;
  box-shadow: 0px 12px 24px rgba(64, 187, 195, 0.15);
  border-radius: 10px;
}

.testimonial p {
  margin-bottom: 15px;
  margin: 0 auto;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #4a5050;
}

.testimonial-author {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
}

.testimonial img {
  border-radius: 50%;
  margin-right: 9px;
}

.testimonial span {
  color: #07969e;
  font-weight: bold;
}

.author-occupation {
  display: none;
}

@media (max-width: 768px) {
  .testimonial-section {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .testimonial-header {
    max-width: 294px;
    margin: 0 auto;
  }

  .desktop-title {
    display: none;
  }

  .mobile-title {
    display: block;
    font-size: 32px;
    line-height: 28.8px;
    margin-bottom: 10px;
  }
  .desktop-subtitle {
    display: none;
  }

  .mobile-subtitle {
    display: block;
    margin-bottom: 10px;
  }

  .testimonial {
    justify-content: center;
    align-items: center;
  }

  .testimonial-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial p {
    text-align: center;
  }

  .testimonial-author {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: unset;
    width: unset;
    margin-top: 10px;
  }

  .testimonial img {
    margin: 0 0 5px 0;
  }

  .testimonial span {
    text-align: center;
  }

  .author-occupation {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #4a5050;
  }
}
